---
import FlowerIcon from "../components//icons/Flower.astro";
---

<header class="px-4 lg:px-6 h-14 flex items-center">
  <a class="flex items-center justify-center" href="#">
    <FlowerIcon class="h-6 w-6" />
    <span class="sr-only">Domus</span>
  </a>
  <nav class="ml-auto flex gap-4 sm:gap-6">
    <a class="text-sm font-medium hover:underline underline-offset-4" href="#Servicios">
      Servicios
    </a>
    <a class="text-sm font-medium hover:underline underline-offset-4" href="#Ubicación">
      Ubicación
    </a>
    <a class="text-sm font-medium hover:underline underline-offset-4" href="#">
      Contacto
    </a>
  </nav>
</header>
